header .intro{
    position: relative;
}
header .intro .head{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

header .navbar .navbar-nav .nav-link::after{
    display: block;
    content: "";
    width: 0;
    height: 2px;
    background-color: black;
    transition: width .4s;
    -webkit-transition: width .4s;
    -moz-transition: width .4s;
    -ms-transition: width .4s;
    -o-transition: width .4s;
}

header .navbar .navbar-nav .nav-link:hover::after{
    width: 100%;
    transition: width .4s;
    -webkit-transition: width .4s;
    -moz-transition: width .4s;
    -ms-transition: width .4s;
    -o-transition: width .4s;
}



.head h1{
    font-size: 3.7rem;
    color: black;
}

.head h6{
    font-size: 1.5rem;
    color: blue;
}

.head p{
    font-size: 1.5rem;
}

.head hr{
   color: blue;
}


.nav-item i{
    font-size: 25px;
    color: darkslategray;
}

.featured .row .one{
    height: 300px;
    position: relative;
}

.featured .row .one img{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    object-fit: cover;
}

.featured .row .one .text{
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.featured .row .one .text a{
    text-decoration: none;
}

.featured .row .one .text a::after{
    display: block;
    content: "";
    width: 20%;
    height: 2px;
    background-color: black;
}


.featured .row .one .text{
    opacity: 0;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.featured .row .one .text:hover{
    opacity: 1;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}


button, input{
    padding: .5rem 1.3rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.subscription{
    background-color: fuchsia;
}


.blog .side3 .one{
    height: 300px;
    position: relative;
}

.blog .side3 .one img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}


.blog .side3 .one .text{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 7rem 1.1rem 0 1.1rem;
}



























































@media (max-width:400px) {
    .head p{
        display: none;
    }
}
